.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #88caf1, #e6f0ff);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.form-container {
 background-color: #ffffff;
  padding: 40px 30px;
  border-radius: 12px;
  width: 320px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  margin:5px;
}

.form-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
  width: 100%;
}

.input-container label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
}

.input-element {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  transition: all 0.3s ease;
}

.input-element:focus {
  outline: none;
  border-color: #667eea;
  box-shadow: 0 0 5px rgba(102, 126, 234, 0.5);
}

.submit-btn {
  margin-top: 10px;
  padding: 10px;
  background: #0f9b8e;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  opacity: 0.9;
  transform: translateY(-1px);
}

.error-text {
  color: red;
  font-size: 13px;
  margin-top: 8px;
  text-align: center;
}